### Py_Basics

###  use print and some basic string program

In [2]:
a=5/4
print(a)

1.25

In [4]:
print ("Hello \n World")

Hello
 World

In [2]:
input('please enter a value')

please enter a value102

'102'

In [3]:
input('please enter a value')

please enter a valueRajeev

'Rajeev'

In [7]:
print("hello" +" " + "world")

hello world

In [8]:
print("5"+"5")

55

In [9]:
print(5+5)

10

In [14]:
print("hello\n"*3)   # Multiplication not valid in string

hello
hello
hello

### in place operator

In [15]:
age=35
age+=1
print(age)

36

In [16]:
age=35
age+=2
print(age)

37

In [21]:
age*=2
print(age)

140

In [22]:
b="hello"
b+="world"
print(b)

helloworld

### type casting program

In [25]:
r=2
p=int(input("inter the principle value"))
t=int(input("enter the time"))
sI=p*r*t/100
print(sI)

inter the principle value2000
enter the time10
400.0

In [3]:
s='rajeev'+str(5)
print(s)

rajeev5

In [7]:
n=int(input("Enter the number"))
s=''
for i in range(1,n+1):
    s=s+str(i)
print(s)

Enter the number7
1234567

### control statement

In [28]:
age=int(input("enter your age"))
if(age>=18):
    print("you are an adult")
else:
    print("you are not an adult")

enter your age19
you are an adult

In [31]:
marks=int(input("enter your marks"))
if (marks>35 and marks<=45):
    print("grade C")
elif (marks>45 and marks<=75):
    print("grade B")
elif (marks>75 and marks<=90):
    print("grade A")
elif (marks>90 and marks<=100):
    print("grade is A+")
else:
    print("markes is not valied")

enter your marks99
grade is A+

In [36]:
# create list
name = ["Rajee","uday","prakash","Mukesh"]
print(name)
print(name[0])
print(name[-1])
print(name[0:])
print(name[:4])
print(name[0][1]) # zeroth index ke first index ka latter

['Rajee', 'uday', 'prakash', 'Mukesh']
Rajee
Mukesh
['Rajee', 'uday', 'prakash', 'Mukesh']
['Rajee', 'uday', 'prakash', 'Mukesh']
a

In [37]:
number=[1,2,4,7,9]
print(number[4])

9

In [38]:
# create empty list
abc = []
print(abc)

[]

In [47]:

number=[1,2,3,4]
number[2]=5
print(number)

[1, 2, 5, 4]

In [48]:
# adding list
num1=[1,2,3,4]
num2=[5,6,7,8,9]
num3=[12,34,15,17,19,81]
print(num1+ num2 +num3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 34, 15, 17, 19, 81]

In [44]:
num1=[1,2,3,4]
num2=[5,6,7,8,9]
print(num1*2 + num2*3)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6, 7, 8, 9, 5, 6, 7, 8, 9, 5, 6, 7, 8, 9]

In [46]:
# name present or not in the list
name = ["Rajeev","uday","prakash","Mukesh"]
print("Rajeev" in name)
print("kumar" in name)

True
False

In [51]:
# number present or not in the present list
number = [1,2,3,4,5]
print(7 in number)
print(3 in number)

False
True

###  List function in python

In [55]:
name = ["Rajeev","uday","prakash","Mukesh"]
name.append("Vivek") # taking one argument only
print(name)

['Rajeev', 'uday', 'prakash', 'Mukesh', 'Vivek']

In [62]:
# find length of list

name1 = ["Rajeev","uday","prakash","Mukesh"]
name1.append(["Vivek","Anish"])
print(name1)
print(len(name1))

['Rajeev', 'uday', 'prakash', 'Mukesh', ['Vivek', 'Anish']]
5

In [61]:
# insert particular index

name1 = ["Rajeev","uday","prakash","Mukesh"]
name1.insert(1,"Rajesh")
print(name1)

['Rajeev', 'Rajesh', 'uday', 'prakash', 'Mukesh']

In [65]:
name1 = ["Rajeev","uday","prakash","Mukesh"]
print(name1.index("prakash"))  # prakash 2nd index par h

2

###  Range function in python

In [68]:
number=range(10)
print(number)

range(0, 10)

In [70]:
number = list(range(10))
print(number)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [75]:
number = list(range(10 ,25,2))  # range(start,stop,step)
print(number)

[10, 12, 14, 16, 18, 20, 22, 24]

###  Code reuse and functions in python

In [80]:
def function1():
    print("Rajeev")
    print("uday")
    print("prakash")
def function2():
    print("kumar")
    function1()
function1()
function2()

Rajeev
uday
prakash
kumar
Rajeev
uday
prakash

###  For loop in python

In [81]:
# number is even or odd
for i in range(1,11):
    if i%2==0:
        print(i,"even")
    else:
        print(i,"odd")

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even

In [84]:
name1 = ["Rajeev","uday","prakash","Mukesh"]
for i in name1:
    print(i)

Rajeev
uday
prakash
Mukesh

In [85]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

###  Boolean logic in python

In [87]:
user_name="Admin"
password="Admin123"
if user_name == "Admin" and password == "Admin123" :
    print("valid user")
else:
    print ("invalid user")

valid user

In [88]:
user_name="Admins"
password="Admin123"
if user_name == "Admin" and password == "Admin123" :
    print("valid user")
else:
    print ("invalid user")

invalid user

In [89]:
user_name="Admins"
password="Admin123"
if user_name == "Admin" or password == "Admin123" :
    print("valid user")
else:
    print ("invalid user")

valid user

###  While loop

In [93]:
counter=0
while (counter <=10):
    print(counter)
    counter += 1

0
1
2
3
4
5
6
7
8
9
10

In [109]:
#############################################################################################    QUESTION



Create a list of your favorite food items, the list should have minimum 5 elements.
1. List out the 3rd element in the list.
2. Add additional item to the current list and display the list.
3. Insert an element named tacos at the 3rd index position of the list and
4. print out the list elements.

In [104]:
food = ['eggs', 'pizza', 'cupcake', 'burger', 'salmon']
print(food[2])
food.append('cake')
print(food)
food.insert(3, 'tacos')
print(food)

cupcake
['eggs', 'pizza', 'cupcake', 'burger', 'salmon', 'cake']
['eggs', 'pizza', 'cupcake', 'tacos', 'burger', 'salmon', 'cake']

In [105]:
# Task no 1: Using a for-loop and a range function, print "I am a programmer" 5 times.


# Task no 2: Create a function which displays out the square values of numbers from 1 to 9.

In [107]:
# Task no 1:
for x in range(5):
 
    print('I am a programmer')

I am a programmer
I am a programmer
I am a programmer
I am a programmer
I am a programmer

In [108]:
# Task no 2:
def display_square():
    for x in range(1,10):
        print(x*x)
display_square()

1
4
9
16
25
36
49
64
81

In [110]:
################################################################################################################################

###  Functions and Modules in python

In [3]:
# passing arguments to function

In [2]:
def Add(a,b):
    print(a+b)
    
Add(13,23)
Add(100,200)

36
300

In [5]:
# Making function return value in python

def Add(a ,b):
    c = a + b
    return c

result = Add(100 ,400)   # jaha se function call hota h wahi par value return hota h
print(result)

500

In [7]:
# passing function as argument in python

def Add(a ,b):
    return a + b

def square(c):
    return c *c

result =square(Add(3, 2))
print(result)

25

In [8]:
# Modules in python

import random

for i in range(13):
    result= random.randint(1,6)
    print(result)

1
3
2
2
1
5
4
2
1
1
4
4
4

###  Question

###  BMI = (weight in Kg)/(Height in Meters)^2.


Write python code which can accept the weight and height of a person and calculate his BMI.

In [9]:
def BMI(w, h):
    return w/(pow(h,2))

w=int(input("Weight in kg"))
h=int(input("height in kg"))
result = BMI(w ,h)
print(result)

Weight in kg5
height in kg7
0.10204081632653061

###   Exception handling and file handling in python

In [13]:
# Exception handling

try:
    a=10
    b=0
    print(a/b)
except ZeroDivisionError:
    print("There is a devide by zero error")

There is a devide by zero error

In [14]:
try:
    a=10
    b=20
    print(a/b)
except ZeroDivisionError :
    print("There is a devide by zero error")

0.5

In [15]:
# finally block

try:
    a=10
    b=0
    print(a/b)
    
except ZeroDivisionError :
    print("there is a devide by zero error")
    
finally :
    print("This is going to excecute no matter what")

there is a devide by zero error
This is going to excecute no matter what

In [16]:
try:
    a=10
    b=3
    print(a/b)
    
except ZeroDivisionError :
    print("there is a devide by zero error")
    
finally :
    print("This is going to excecute no matter what")

3.3333333333333335
This is going to excecute no matter what

In [24]:
# File Handling

file = open("C:\\Users\kumar\Desktop/python_demo.txt",'w')
# do something write the file
file.close()

In [26]:
file = open("C:\\Users\kumar\Desktop/python_demo.txt",'r')
content = file.read()
print(content)
file.close()

This is the first line
This is the second line
This is the third line

In [1]:
file = open("C:\\Users\kumar\Desktop/python_demo.txt",'r')
content = file.readline()
print(content)
file.close()

This is the first line

In [2]:
file = open("C:\\Users\kumar\Desktop/python_demo.txt",'r')
content = file.read(10)
print(content)
file.close()

This is th

In [3]:
file = open("C:\\Users\kumar\Desktop/python_demo.txt",'w')
file.write("This is a first line")
file.close()

file=open("C:\\Users\kumar\Desktop/python_demo.txt",'r')
content = file.read()
print(content)
file.close()

This is a first line

In [5]:
file = open("C:\\Users\kumar\Desktop/python_demo.txt",'w')
file.write("This is a first line")
file.close()

file=open("C:\\Users\kumar\Desktop/python_demo.txt",'r')
content = file.read()
print(content)
file.close()

file = open("C:\\Users\kumar\Desktop/python_demo.txt",'a')   # a - >Append = not delated previous line
file.write("this is a new line")
file.close()

file=open("C:\\Users\kumar\Desktop/python_demo.txt",'r')
content = file.read()
print(content)
file.close()

This is a first line
This is a first linethis is a new line

###   1. Open the file
###   2. write and read the file
###   3.Close the file

In [6]:
################################################################################################################################

### Some more types in python

###  Dictionaries

In [8]:
people = { "Rajeev":23,"Uday":24}
print(people)
print(people["Rajeev"])

{'Rajeev': 23, 'Uday': 24}
23

In [14]:
people = { "Rajeev":23,"Uday":24}
print(people.values())

dict_values([23, 24])

In [15]:
people = { "Rajeev":23,"Uday":24}
print(people.keys())

dict_keys(['Rajeev', 'Uday'])

###  Dictionaries function

In [20]:
numbers ={
    1 : "one",
    2 : "two",
    3 : "three"
}

print(1 in numbers)
print(2 in numbers)
print (7 in numbers)

True
True
False

In [22]:
numbers ={
    "one" : 1,
    "two" : 2,
    "three" :3
}

print(1 in numbers)
print(2 in numbers)
print (7 in numbers)

False
False
False

In [23]:
numbers ={
    "one" : 1,
    "two" : 2,
    "three" :3
}

print("one" in numbers)
print("two" in numbers)
print ("seven" in numbers)

True
True
False

In [25]:
numbers ={
    1 : "one",
    2 : "two",
    3 : "three"
}

print(numbers.get(1))
print(numbers.get(2))
print(numbers.get(3))

one
two
three

In [28]:
numbers ={
    "one" : 1,
    "two" : 2,
    "three" :3
}

print(numbers.get("one"))
print(numbers.get("two"))
print(numbers.get("three"))

1
2
3

In [29]:
numbers ={
    1 : "one",
    2 : "two",
    3 : "three"
}

print(numbers.get(7))
print(numbers.get(4,"key not found"))

None
key not found

###  Tuples : Immutable : Not change the value

In [30]:
fruits = ("Mango","Apple","Banana")
print(fruits)
print(fruits[0])

('Mango', 'Apple', 'Banana')
Mango

### not change the value
fruits = ("Mango","Apple","Banana")

fruits[0]="peach"

print(fruits)
# Error

In [32]:
fruits = "Mango","Apple","Banana"
print(fruits)
print(fruits[0])

('Mango', 'Apple', 'Banana')
Mango

###   List Slicing

In [37]:
number = [100,200,300,400,700,900]
print(number[2:5])
print(number[:3])
print(number[3:])
print(number[:])
print(number[-4])
print(number[1:6:2])

[300, 400, 700]
[100, 200, 300]
[400, 700, 900]
[100, 200, 300, 400, 700, 900]
300
[200, 400, 900]

###  List Comprehension

In [42]:
list = [ x**2 for x in range (6)]
print (list)

[0, 1, 4, 9, 16, 25]

In [43]:
list = [x**2 for x in range(11) if x**2 % 2==0]
print(list)

[0, 4, 16, 36, 64, 100]

###  String Formatting

In [1]:
numbers = [3,4,5,6,7,8,9]

newstring = "numbers:{0}{1}{2}{3}{4}{5}{6}".format(numbers[0],numbers[1],numbers[2],numbers[3],numbers[4],numbers[5],numbers[6])
print(newstring)

numbers:3456789

In [2]:
numbers = [3,4,5]

newstring = "numbers:{0},{1},{2}".format(numbers[0],numbers[1],numbers[2])
print(newstring)

numbers:3,4,5

In [4]:
numbers = [28,12,2022]

newstring = "Date:{0}/{1}/{2}".format(numbers[0],numbers[1],numbers[2])
print(newstring)

Date:28/12/2022

In [5]:
a = "{x}/{y}/{z}".format(x=28,y=12,z=2022)
print(a)

28/12/2022

###  String functions

In [7]:
A = ",".join(["mango","banana","apple"])
print(A)

mango,banana,apple

In [9]:
B = ":".join(["mango","banana","apple"])
print(B)

mango:banana:apple

In [10]:
c = ";".join(["apple","mango","banana"])
print(c)

apple;mango;banana

In [11]:
D = ":".join(("mango","banana","apple"))
print(D)

mango:banana:apple

In [12]:
ab = "Hello there".replace("there","World")
print(ab)

Hello World

In [13]:
newstring = "Hello there"

print(newstring.replace("there","World"))

Hello World

In [15]:
newstring = "This is a starting"
print(newstring.startswith("This"))
print(newstring.startswith("is"))

True
False

In [17]:
newstring =" This is a first line"
print(newstring.endswith("line"))
print(newstring.endswith("This"))

True
False

In [18]:
newstring = "This is a first line"
print(newstring.upper())
print(newstring.lower())

THIS IS A FIRST LINE
this is a first line

###  Numeric function

In [21]:
print(max(3,4,1,8,9))

9

In [23]:
print(min(3,4,1,8,9))

1

In [24]:
print(abs(-234))

234

In [33]:
# Write Python code which accepts name of a product and in turn returns their respective prices.




def Product(name):
    return product[name]

product = {"mango":25,"apple":30}

print(Product("mango"))

25

In [34]:
# Write Python code which accepts name of a product and in turn returns their respective prices.



products = {"Chair":40, "Sofa": 500, "Table": 90, "Monitor": 100 , "Carpet": 200}
newproduct = input('Enter product name')
if(newproduct in products):
    print(products.get(newproduct))
else:
    print('Product Not Found')

Enter product nameChair
40

In [40]:
# List out  all the odd numbers from 1 to 100 using lists in Python.


list = [x for x in range (1,101) if x%2!=0]
print(list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]